<%- include ("../../partials/head.ejs") %>
<body>
    <form action="/categories/save" method="POST">
        <label for="">titulo</label>
        <input type="text" name="title" id="" placeholder="title">
        <button type="submit">enviar</button>
    </form>
</body>
<%- include ("../../partials/footer.ejs") %>